<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.CollegeMapper">

    <resultMap id="BaseResultMap" type="com.job.entities.College">
            <id property="collegeId" column="college_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    </sql>

    <select id="selectRateData" resultType="com.job.modules.College.vo.CollegeVisualVo">
    SELECT
        c.college_id,
        c.`name`,
        s.direction as direction_type,
        COUNT(s.direction) as direction_count
    FROM college c
             LEFT JOIN major m ON (m.college_id = c.college_id)
             LEFT JOIN student s ON s.major_id = m.major_id
    WHERE c.delete_flag != 1 AND m.delete_flag != 1 AND s.delete_flag != 1 AND s.graduate_flag = 1
    GROUP BY c.college_id,s.direction
    </select>
</mapper>
