<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.CommonMapper">
    <select id="selectAllDirection" resultType="com.job.modules.Common.Vo.CommonVo">
        SELECT
            s.direction as direction_type,
            COUNT(s.direction) as direction_count
        FROM college c
                 LEFT JOIN major m ON (m.college_id = c.college_id)
                 LEFT JOIN student s ON s.major_id = m.major_id
        WHERE s.delete_flag != 1 AND s.graduate_flag = 1
        GROUP BY s.direction
    </select>

    <select id="selectAllDegree" resultType="com.job.modules.Common.Vo.CommonVo">
        SELECT
            s.degree as degree_type,
            COUNT(s.degree) as degree_count
        FROM student s
        WHERE s.delete_flag != 1 AND s.graduate_flag = 1
        GROUP BY s.degree
    </select>

    <select id="selectAllSalary" resultType="com.job.modules.Common.Vo.SalaryVo">
    SELECT
        (SELECT COUNT(*) FROM student WHERE salary between 1 and 2999 AND delete_flag = 0) AS s0,
        (SELECT COUNT(*) FROM student WHERE salary between 3000 and 5999 AND delete_flag = 0) AS s1,
        (SELECT COUNT(*) FROM student WHERE salary between 6000 and 8999 AND delete_flag = 0) AS s2,
        (SELECT COUNT(*) FROM student WHERE salary between 9000 and 11999 AND delete_flag = 0) AS s3,
        (SELECT COUNT(*) FROM student WHERE salary >= 12000 AND delete_flag = 0) AS s4
    </select>

    <select id="selectAllGender" resultType="com.job.modules.Common.Vo.CommonVo">
        SELECT
            s.gender as gender_type,
            COUNT(s.gender) as gender_count
        FROM student s
        <where>
            s.delete_flag = 0 AND s.graduate_flag = 1
            <if test="direction != null">
                AND s.`direction` = #{direction}
            </if>
        </where>
        GROUP BY s.gender
    </select>

    <select id="selectRateByYear" resultType="com.job.modules.Common.Vo.RateByYear">
        SELECT
            (
                SELECT
                    COUNT(*)
                FROM student s
                <where>
                    s.delete_flag != 1 AND s.graduate_flag = 1 AND s.direction IN (0,1)
                    <if test="year != null">
                        AND YEAR(s.date) = #{year}
                    </if>
                    <if test="year == null">
                        AND YEAR(s.date) IS NULL
                    </if>
                </where>
            ) as jy_count,
            (
                SELECT
                    COUNT(*)
                FROM student s
                <where>
                    s.delete_flag != 1 AND s.graduate_flag = 1
                    <if test="year != null">
                        AND YEAR(s.date) = #{year}
                    </if>
                    <if test="year == null">
                        AND YEAR(s.date) IS NULL
                    </if>
                </where>
            ) as total_count
    </select>

    <select id="selectOverviewMap" resultType="Integer">
        SELECT
            COUNT(s.student_id) as count
        FROM student s
        <where>
            s.delete_flag = 0 AND s.graduate_flag = 1
            <if test="locationCode != null">
                AND s.`city` like concat('%',#{locationCode},'%')
            </if>
        </where>
    </select>

    <select id="selectOverviewDetailNum" resultType="com.job.modules.Common.Vo.DetailNum">
        SELECT
            (
                SELECT
                    COUNT(*)
                FROM student s
                WHERE s.delete_flag = 0 AND s.graduate_flag = 1 AND YEAR(s.date) = YEAR(CURDATE())
		    ) as graduate_num,
            (
                SELECT
                    COUNT(*)
                FROM job_student
            ) as submit_num,
            (
                SELECT
                    COUNT(*)
                FROM job
            ) as job_num,
            (
                SELECT
                    COUNT(*)
                FROM company c
                WHERE c.delete_flag = 0
            ) as company_num
    </select>
</mapper>
