<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.JobMapper">

    <resultMap id="BaseResultMap" type="com.job.entities.Job">
            <id property="jobId" column="job_id" jdbcType="INTEGER"/>
            <id property="companyId" column="company_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
            <result property="claim" column="claim" jdbcType="VARCHAR"/>
            <result property="contact" column="contact" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="salary" column="salary" jdbcType="VARCHAR"/>
            <result property="openFlag" column="open_flag" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="intro" column="pic" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
    </resultMap>


    <select id="selectJobList" resultType="com.job.modules.Job.vo.JobListVo">
        SELECT
            j.`job_id`,
            j.`company_id`,
            j.`open_flag`,
            c.`name`,
            j.`title`,
            j.`intro`,
            j.`claim`,
            j.`deadline`,
            j.`contact`,
            j.`address`,
            j.`salary`,
            j.`type`,
            c.`type` as company_type,
            c.`website`,
            c.`remark`,
            c.`pic`
        FROM job j
        LEFT JOIN company c ON c.`company_id` = j.`company_id`
        <where>
            j.`delete_flag` = 0
            <if test="map.title != null">
                and j.`title` like concat('%',#{map.title},'%')
            </if>
            <if test="map.name != null">
                and c.`name` like concat('%',#{map.name},'%')
            </if>
            <if test="map.jobId != null">
                and j.`job_id` = #{map.jobId}
            </if>
            <choose>
                <when test="map.isOpenAndTimely == null or map.isOpenAndTimely == -1">
                </when>
                <when test="map.isOpenAndTimely == 1">
                    and j.`open_flag` = 1 and (j.`deadline` is null or j.`deadline` > NOW())
                </when>
                <otherwise>
                    and j.`open_flag` = 0 or j.`deadline` is null or j.`deadline` &lt; NOW()
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
