<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.JobResumeMapper">

    <resultMap id="BaseResultMap" type="com.job.entities.JobResume">
            <id property="jobResumeId" column="job_resume_id" jdbcType="INTEGER"/>
            <id property="jobId" column="job_id" jdbcType="INTEGER"/>
            <id property="resumerId" column="resumer_id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        job_resume_id,job_id,resumer_id,
        date,delete_flag
    </sql>
</mapper>
