<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.MenuMapper">

    <resultMap id="SonMenuListResult" type="com.job.modules.Login.vo.MenuItemVo">
        <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuUrl" column="menu_url" jdbcType="VARCHAR"/>
        <result property="pathName" column="path_name" jdbcType="VARCHAR"/>
        <result property="componentPath" column="component_path" jdbcType="VARCHAR"/>
        <result property="menuImgClass" column="menu_img_class" jdbcType="VARCHAR"/>
        <result property="menuState" column="menu_state" jdbcType="INTEGER"/>
        <result property="isContainChildren" column="is_contain_children" jdbcType="INTEGER"/>
        <collection property="menuChilds" column="menu_id" select="getSonMenuSql"/>
    </resultMap>

<!--    递归获取父菜单下的所有子菜单-->
    <select id="getSonMenuSql" resultMap="SonMenuListResult">
        select *
        from menu m
        where m.parent_id = #{parentId}
        ORDER BY m.menu_order
    </select>


    <resultMap id="TopMenuListResult" type="com.job.modules.Login.vo.MenuItemVo">
        <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuUrl" column="menu_url" jdbcType="VARCHAR"/>
        <result property="pathName" column="path_name" jdbcType="VARCHAR"/>
        <result property="componentPath" column="component_path" jdbcType="VARCHAR"/>
        <result property="menuImgClass" column="menu_img_class" jdbcType="VARCHAR"/>
        <result property="menuState" column="menuState" jdbcType="INTEGER"/>
        <result property="isContainChildren" column="is_contain_children" jdbcType="INTEGER"/>
        <collection property="menuChilds" column="menu_id" select="getSonMenuSql" />
    </resultMap>

    <select id="getTopMenuList" resultMap="TopMenuListResult">
        SELECT
            rm.menu_id as menu_id,
            m.parent_id,
            m.menu_url,
            m.menu_name,
            m.path_name,
            m.component_path,
            m.menu_state,
            m.menu_img_class,
            m.is_contain_children
        FROM role_menu rm
                 LEFT JOIN menu m ON (rm.menu_id = m.menu_id)
        WHERE (m.parent_id = 0) AND (role_id = #{roleId}) AND (m.menu_state = 0)
        ORDER BY m.menu_order
    </select>




    <resultMap id="selectTopMenuListResult" type="com.job.modules.Menu.vo.SelectMenuListVo">
        <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuUrl" column="menu_url" jdbcType="VARCHAR"/>
        <result property="pathName" column="path_name" jdbcType="VARCHAR"/>
        <result property="componentPath" column="component_path" jdbcType="VARCHAR"/>
        <result property="menuImgClass" column="menu_img_class" jdbcType="VARCHAR"/>
        <result property="menuState" column="menuState" jdbcType="INTEGER"/>
        <result property="isContainChildren" column="is_contain_children" jdbcType="INTEGER"/>
        <result property="menuOrder" column="menu_order" jdbcType="INTEGER"/>
        <collection property="roleIds" column="menu_id" select="getMenuRole" />
    </resultMap>

    <select id="getMenuRole" resultType="integer">
        SELECT
            rm.role_id
        FROM role_menu rm
        WHERE rm.menu_id = #{menuId}
    </select>

    <select id="selectTopMenuList" resultType="com.job.modules.Menu.vo.SelectMenuListVo">
        select *
        from menu
        WHERE parent_id = 0
        order by menu_order
    </select>
</mapper>
