<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.StudentMapper">

    <select id="selectStudentList" parameterType="hashmap" resultType="com.job.modules.Student.vo.StudentListVo">
        SELECT
            s.student_id,
            s.`name`,
            s.avatar,
            m.`name` AS major_name,
            m.major_id,
            c.college_id AS college_Id,
            a.amount_id,
            a.username,
            s.resume,
            s.gender,
            s.remark,
            s.contact,
            s.address,
            s.birthday,
            s.graduate_flag,
            s.date,
            s.degree,
            s.industry,
            s.post,
            s.salary,
            s.city,
            s.industry,
            s.direction
        FROM student s
        LEFT JOIN amount a ON a.amount_id = s.amount_id
        LEFT JOIN major m ON m.major_id = s.major_id
        LEFT JOIN college c on m.college_id = c.college_id
        <where>
            s.`delete_flag` = 0
            <if test="map.studentId != null">
                and s.student_id = #{map.studentId}
            </if>
            <if test="map.name != null">
                and s.`name` like concat('%',#{map.name},'%')
            </if>
            <if test="map.majorId != null and map.majorId != -1">
                and s.major_id = #{map.majorId}
            </if>
            <if test="map.graduateFlag != null and map.graduateFlag != -1">
                and s.graduate_flag = #{map.graduateFlag}
            </if>
        </where>
    </select>

</mapper>
